<meta charset="UTF-8">
<title><%= title %></title>
<meta property="og:site_name" content="JanathaReport">
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= desc %>" />
<meta property="og:image" itemprop="image" content="<%= img %>">
<meta property="og:type" content="website" />


<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
</style>